
header {
    font-family: 'Roboto', sans-serif;
}

body {
    text-align: center;
    background-color: rgb(88, 88, 88);
    color: white;
    font-family: 'Open Sans', sans-serif;

    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;

}

p::first-line {
    font-family: 'Helvetica', bold;
  }

figure {
    font-size: 10px;
}

div {
padding-right: 200px;
padding-left: 200px;
}

.row {
  .column {
    flex: 50%;
  }

#blueText {
  color: rgb(47, 47, 201);
}